<style>
body
 {
margin: 0px;
padding: 0px;
background-color:#ffffff;
width: 100%;
height: 100%;
}

#header{
position:fixed;
margin-top: -8px;
margin-left: -8px;
background-color:#34cfb0;
width: 100%;
height: 120px;

}


#container{
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
margin-top: 0px;
padding-bottom: 60px;
padding-left: 0px;
width: 100%;
min-height: 600px;
overflow: auto;
z-index: -1;


}
#links{
margin-top: 0px;
padding-top: 0px;
width: 60%;
margin-left: 20%;
text-align: justify;
color: #eeeded;
}
span{
  background-color:red;
  width:100%;
  height:0em;
  display:inline-block;
  vertical-align: middle;

}
#links a:link{ color:#ffffff; font-size:24px; font-style: bold; 
 } 
#links a:visited{ color:#ffffff; } 
#links a:hover{ color:#ef5964; font-style: itallic; } 
#links a:active{ color:#eeeded}


#content{
text-align: left;
float: left;
margin-top: 50px;
margin-left: 20%;
width: 60%;
background-color:#ffffff;
padding-top: 100px;
z-index: 1;
}

#footer{
margin-top: 30px;
margin-left: -10px;
padding-top: 30px;
padding-left: 10px;
padding-bottom: 10px;
width: 100%;
attachment: bottom;
background-color:#DCDCDC;
}

#footertext{ 
color: #676767; 
text-align: center; 
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
} 
a { 
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
} 

a:hover { 
color:#142303; 
} 

h1 {
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-style: bold; 
 color:#34cfb0;
text-align: left;
}

h2 {
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-style: bold;
color:#34cfb0;
text-align: left;
}
a:link {color:#ef5964;}      /* unvisited link */
a:visited {color:#ef5964;}  /* visited link */
a:hover {color:#ef5964; text-decoration:underline;}  /* mouse over link */
a:active {color:#ef5964;}  /* selected link */
A{text-decoration:none}

	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 

}
</style>
